@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">이러한 멋진 기능을 설명하는 왼쪽 정렬 제목</font></font></h2>
        <p class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">제목 아래에 제목을 설명하는 텍스트 단락입니다. </font><font style="vertical-align: inherit;">여기에 다른 문장을 추가하고 아마도 단어가 다 떨어질 때까지 계속할 것입니다.</font></font></p>
        <a href="#" class="btn btn-primary btn-lg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">기본 버튼</font></font></a>
    </div>

    <div class="col">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item disabled" aria-disabled="true">A disabled item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </div>

    <!--
    <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection"></use>
                    </svg>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">주요 제목</font></font></h4>
                <p class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">제목 아래에 제목을 설명하는 텍스트 단락입니다.</font></font></p>
            </div>

            <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#gear-fill"></use>
                    </svg>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">주요 제목</font></font></h4>
                <p class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">제목 아래에 제목을 설명하는 텍스트 단락입니다.</font></font></p>
            </div>

            <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#speedometer"></use>
                    </svg>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">주요 제목</font></font></h4>
                <p class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">제목 아래에 제목을 설명하는 텍스트 단락입니다.</font></font></p>
            </div>

            <div class="col d-flex flex-column gap-2">
                <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#table"></use>
                    </svg>
                </div>
                <h4 class="fw-semibold mb-0 text-body-emphasis"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">주요 제목</font></font></h4>
                <p class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">제목 아래에 제목을 설명하는 텍스트 단락입니다.</font></font></p>
            </div>
        </div>
    </div>
    -->
</div>